manifest {
    name = 'bioinfo/transcriptomics-pipeline'
    author = 'Bioinfo Platform'
    description = 'RNA-Seq Differential Expression Pipeline - nf-core/rnaseq + DESeq2'
    version = '0.1.0'
    nextflowVersion = '>=23.04.0'
}

profiles {
    docker { includeConfig "${projectDir}/conf/docker.config" }
    standard { }

    eco {
        includeConfig "${projectDir}/conf/eco.config"
    }
    micro {
        includeConfig "${projectDir}/conf/micro.config"
    }
    slim {
        includeConfig "${projectDir}/conf/slim.config"
    }
}

params {
    seed = 42
}
