docker.enabled = true
docker.runOptions = "-u $(id -u):$(id -g)"
docker.fixOwnership = true
scratch = true
stageInMode = 'link'

process {
    withName: FASTQC {
        container = 'staphb/fastqc:0.12.1'
        cpus = 2
        memory = 4.GB
    }
    withName: TRIMMING {
        container = 'quay.io/biocontainers/trim-galore:0.6.10--hdfd78af_0'
        cpus = 4
        memory = 8.GB
    }
    withName: STAR_ALIGN {
        container = 'quay.io/biocontainers/star:2.7.11b--h43eeafb_1'
        cpus = 8
        memory = 32.GB
        time = 72.h
        // Eco/micro/slim profiles override these via star_extra_args
        args = params.star_extra_args ?: "--outSAMtype BAM SortedByCoordinate"
    }
    withName: FEATURECOUNTS {
        container = 'quay.io/biocontainers/subread:2.0.6--he4a0461_0'
        cpus = 4
        memory = 8.GB
    }
    withName: MULTIQC {
        container = 'multiqc/multiqc:1.25.1'
        cpus = 2
        memory = 4.GB
    }
    withName: DESEQ2 {
        container = 'rocker/tidyverse:4.4'
        cpus = 4
        memory = 16.GB
        time = 24.h
    }
    withName: ENRICHMENT {
        container = 'rocker/tidyverse:4.4'
        cpus = 2
        memory = 4.GB
        time = 12.h
    }
    withLabel: 'deseq2' {
        cpus = 4
        memory = 16.GB
        time = 24.h
    }
    withLabel: 'enrichment' {
        cpus = 2
        memory = 4.GB
        time = 12.h
    }
}
