params {
    star_extra_args = "--genomeLoad NoSharedMemory --outBAMcompression 6 --outSAMtype BAM Unsorted --outFilterMismatchNmax 2 --outFilterMultimapNmax 20"
    star_index = "/ref/grch38/star_index_eco"
    deseq2_cooks_cutoff = false
}

process {
    withLabel: process_high {
        cpus = 3
        memory = 6.GB
    }
    withLabel: process_medium {
        cpus = 2
        memory = 4.GB
    }
    withLabel: process_low {
        cpus = 1
        memory = 2.GB
    }

    withName: STAR_ALIGN {
        cpus = 3
        memory = 6.GB
        time = 48.h
    }
    withName: TRIMMING {
        cpus = 2
        memory = 4.GB
    }
    withName: FEATURECOUNTS {
        cpus = 2
        memory = 4.GB
    }
    withName: DESEQ2 {
        cpus = 2
        memory = 4.GB
    }
    withName: FASTQC {
        cpus = 1
        memory = 2.GB
    }
    withName: MULTIQC {
        cpus = 1
        memory = 2.GB
    }

    maxRetries = 3
    errorStrategy = { task.exitStatus in [137, 139, 143] ? 'retry' : 'terminate' }
    queueSize = 1
}
